<!DOCTYPE html>
<html lang="en">
<head>
   <script>
     var num = 3;
     var numstring = "3 is a string";
     var trueth = true;
     var apple = null;
     //alert(num);
     num = numstring;
     //alert(num);
     //alert(apple);
     var list = [12,23,1]
     var variedlist = ["abc", 11, true]
     for(var i = 0; i < variedlist.length; i++) {
      // alert(variedlist[i]);
     }
     variedlist.push("bob");
     variedlist.pop();
     variedlist.slice(0,2);

     //alert(variedlist)//still be the same , slice will not change the list

     var s = "123";
     var a = 1;
        function pophello(s,a) {
          var sum = s + a;
         // alert(sum);
        }
        pophello(s,a);



   </script>

  <div class="helloClass">
    hello hello!
  </div>

  <!--<div id = "hello">-->
    <!--Hello-->
  <!--</div>-->

  <!--<script>-->
    <!--&lt;!&ndash;var tag = document.getElementById("hello")&ndash;&gt;-->
    <!--&lt;!&ndash;tag.innerText = "how are you"&ndash;&gt;-->
    <!--&lt;!&ndash;//alert(tag)&ndash;&gt;-->
  <script>
    var tagClass= document.getElementsByClassName("helloClass")
    tagClass.innerText = "how are you?";
    //alert(tagClass)
  </script>
</head>
<body>

</body>
</html>
