<!DOCTYPE html>
<html lang="en">
<head>
  <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

</head>
<body>
  <input class="haha"></input>
    <ul id="jobs">
      <button onclick="searchJobs()"> </button>
    </ul>
      <script>
          var url = "https//jobs.github.com/positions.json?description=javascript&location=settle";
          $.get(
            url,
            {},
            function getResponse(response) {
              alert(response)
            },"jsonp"
          )
      </script>

      <script>
          function searchJobs() {
              var input = $("id").val();
              var url =  "http//jobs.github.com/positions.json?description=javascript&location=settle";
              alert(url);

          }
          function searchQuery() {

            var jobList = $("#jobs");
            var url = "http//jobs.github.com/positions.json?description=javascript&location=settle";
            $.get(
              url,
              {},
              function getResponse(response) {
                var job = response;
                for (var i = 0; i < job.length; i++) {
                  var jobLi = $("<li>");
                  var jobName = job[i].title;
                  jobLi.append(jobName);
                  console.log(job[i]);
                }
                alert(response)
              }, "jsonp"
            )
          }

      </script>
</body>
</html>
