/*.container li input{*/
  /*margin-left: 100px;*/
/*}*/

.container li{
  list-style-type: none;
}

.usernamebox input{
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.passwordbox input{
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.verificationbox input{

  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

/*.container > h1{*/
  /*text-align: center;*/
  /*padding: 20px;*/
  /*width: 100%;*/
/*}*/
