<!DOCTYPE html>
<html lang="en">
<head>
  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

</head>

    <!--<button onclick="sayHello()">-->
      <!--Click me please-->
    <!--</button>-->

    <!--<button onclick="whereOnPage(event)">-->
      <!--Clock the event to get the index-->
    <!--</button>-->

    <!--<input id="haha"></input>-->
    <!--<button onclick="messageOutput()" id='message'>-->
      <!--Click me to get message-->
    <!--</button>-->

<!--<script>-->
    <!--function sayHello() {-->
      <!--alert("Hello")-->
    <!--}-->

    <!--function messageOutput() {-->
      <!--var message = document.getElementById('message').value;-->
      <!--$('#haha').click("helloKitty")-->
      <!--$('#haha').hover("byeKitty")-->
      <!--alert(message)-->
    <!--}-->
      <!--var obj = {};-->
      <!--obj.status = true;-->
      <!--obj.color = "pink";-->


      <!--var yang = {-->
        <!--happy : true,-->
        <!--hair : black,-->
        <!--studying :"excellent"-->
      <!--}-->
<input>
<input class="haha"></input>
<ul id="jobs">
</ul>
<script>
      var url = "http//jobs.github.com/positions.json?description=javascript&location=settle";
      $.get(
        url,
        {},
      function getResponse(response) {
        alert(response)
      },"jsonp"
    )

    function whereOnPage(event) {
      alert(event.screenX + "," + event.screenY)
    }
</script>


<script>
  var jobList = $("#jobs");

  var url = "http//jobs.github.com/positions.json?description=javascript&location=settle";
  $.get(
    url,
    {},
    function getResponse(response) {
      alert(response)
    },"jsonp"
  )

  function whereOnPage(event) {
    alert(event.screenX + "," + event.screenY)
  }
</script>
</body>
</html>
