<!DOCTYPE html>
<html lang="en">
<head>
      <script>
          var res = Number.MIN_SAFE_INTEGER;
          var list = [];
          function findMax(list) {
              if(list.length == 0) {
                res = 0;
              }
              for(var i = 0; i < list.length; i++) {
                  if(list[i] > res) {
                    res = list[i]
                  }
              }
              alert(res)
          }
          findMax(list)
      </script>
</head>
<body>

</body>
</html>
