<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="profile.component.css" rel="contents">
</head>
<div class="container">
  <img class="src=https://myslu.slu.edu/res/images/cas-padlock-icon.png">
  <h1>Register</h1>
  <p>Username</p>
  <input ngModel = "username"
         id="name"
         type="form-control"
         placeholder="Username"/>
  <p>Email</p>
  <input ngModel = "email"
         id="email"
         type="form-control"
         placeholder="Email">
  <p>FirstName</p>
  <input ngModel = "firstName"
         id="firstname"
         type="form-control"
         placeholder="FirstName">
  <p>LastName</p>
  <input ngModel = "lastName"
         id="lastname"
         type="form-control"
         placeholder="LastName">
  <button class="btn btn-primary btn-block" type="submit" (click)="login(username,password)"> Register</button>
  <button class="btn btn-danger btn-block" (click)="register()"> Cancel</button>
</div>
